@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Be+Vietnam+Pro:wght@100;400&family=IBM+Plex+Mono:wght@300&family=Rubik+Mono+One&display=swap");

/* Line */

body {
  font-family: "IBM Plex Mono", monospace;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #333;
  color: white;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  /* background-color: #ffffff; */
  border: 2px solid rgb(210, 210, 210);
  /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); */
  margin-top: 20vh;
}

.input-group {
  margin-bottom: 20px;
}

.input-group input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-group button {
  width: 100px;
  padding: 10px;
  font-size: 16px;
  background-color: #2c2c2c;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.result {
  margin-top: 20px;
  font-size: 18px;
}

#btn {
    margin-top: 10px;
  background-color: #ffcc00;
  color: #2c2c2c;
}

#btn:hover {
  background-color: #2c2c2c;
  color: #ffcc00;
  cursor: pointer;
}

#btn:active {
    background-color: #2c2c2c;
    color: #ff8800;
}

/* Navbar Styling */

.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

.container-navbar {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content:center;
  align-items: center;
}

.navbar ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.navbar ul li {
  display: inline;
  margin-right: 20px;
}

.navbar ul li:last-child {
  /* margin-right: 0; */
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.navbar ul li a:hover {
  color: #ffcc00;
}

/* Section styles */
section {
  padding: 60px 0;
  text-align: center;
  background-color: #f4f4f4;
}

/* Additional styles for section headings */
section h1 {
  margin-bottom: 20px;
  font-size: 2em;
  color: #333;
}

/* Logo Css */
.logo {
  /* margin-right: 20px; */
  width: 40px; /* Set the desired width */
  height: auto;
}
